@import "../../scss/mixins.scss";

.main-wrapper { 
    width: 380px; 
    height: 200px; 
    padding: 20px; 
    margin: 15px; 
    background-color: rgba(116, 116, 116, 0.865); 
} 
 
.card__title { 
    @include card__title
} 
 
.card__description { 
    margin-bottom: 10px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
} 
 
.bottom-button-area { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(70px, 150px)); 
    margin-left: 10px;
} 
 
.card__buttons-view {
    margin-right: 7px;
    background-color: none;
}

.card__buttons-color {
    margin-right: 7px;
    background-color: none;
}

.card__buttons-edit {
    margin-right: 7px;
    background-color: none;
}

.card__buttons-delete {
    margin-right: 7px;
    background-color: none;
}
/* 
.card__buttons-color {
    @include card__buttons-color
}

.card__buttons-edit {
    @include card__buttons-edit
}

.card__buttons-delete {
    @include card__buttons-delete
} */