@import "../../scss/mixins.scss";
$card-margin: 30px;
.main-wrapper { 
    height: 200px; 
    padding: 20px; 
    margin: $card-margin/2;
    background-color: rgba(116, 116, 116, 0.865); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.cardBig{
    width: calc(50% - $card-margin); 
}
 .cardSmall{
    width: calc(33.3% - $card-margin); 
 }
.card__title { 
    @include card__title
} 
 
.card__description { 
    margin-bottom: 10px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
} 
 
.bottom-button-area { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(70px, 150px)); 
    margin-left: 5px;
} 
.card__buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card__buttons-view {
    margin-right: 2px;
    background-color: none;
}

.card__buttons-color {
    margin-right: 2px;
    background-color: none;
}

.card__buttons-edit {
    margin-right: 2px;
    background-color: none;
}

.card__buttons-delete {
    margin-right: 2px;
    background-color: none;
}
/* 
.card__buttons-color {
    @include card__buttons-color
}

.card__buttons-edit {
    @include card__buttons-edit
}

.card__buttons-delete {
    @include card__buttons-delete
} */

.card-color {
    background: rgb(random(255), random(255), random(255));;
}