.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.page_title {
    margin-top: 20px;
    margin-left: 22px;
    margin-bottom: 30px;
    font-size: 35px;
}

.button-area { 
    display: flex; 
    list-style-type: none; 
    margin-left: 1040px; 
    margin-top: -70px; 
    flex-wrap: nowrap;
} 
 
.button-make-big-cards { 
    width: 130px; 
    height: 32px; 
    background-color: #2475e6; 
    border-radius: 5%; 
    color:  white; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-right: 10px;   
} 
 
.button-add-article { 
    width: 130px; 
    height: 32px; 
    background-color: #2475e6; 
    border-radius: 5%; 
    color: white; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
     
} 

 
.cards { 
    display: flex; 
    flex-wrap: wrap; 
    width: 100%;
} 
 
 
.button_ShowMore { 
/*     width: 130px; 
    height: 32px; 
    background-color: #2475e6; 
    border-radius: 5%; 
    color: white;  */
    margin: auto; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    
} 